[submodule "mut/dwm"]
	path = mut/dwm
	url = https://github.com/mvinkio/dwm
[submodule "mut/st"]
	path = mut/st
	url = https://github.com/mvinkio/st
[submodule "mut/dwmblocks"]
	path = mut/dwmblocks
	url = https://github.com/mvinkio/dwmblocks
